@import '../../styles/styles.module.scss';

.overlayContainer {
  margin-top: 12px;

  :global(.dropdown-item) {
    color: $color-black;
    background: $color-light;

    &:hover,
    &:active {
      background: $color-dark-blue-lighter !important;
      color: $color-light;
    }
  }
}
