@import '../../styles/styles.module.scss';

@mixin input-border-colors {
  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
    border-bottom: 1px solid $color-dark-blue-lighter;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

.Input {
  &:global(.ant-input) {
    border-top: none;
    border-left: none;
    border-right: none;
    background: $color-light;
    height: 56px;

    @include input-border-colors();
  }

  :global(.ant-input) {
    border-top: none;
    border-left: none;
    border-right: none;
    background: $color-light;
    height: 56px;

    @include input-border-colors();
  }

  &:global(.ant-input-affix-wrapper .ant-input:not(.ant-input-disabled)) {
    @include input-border-colors();
  }
}
