@import '../styles/styles.module.scss';

.postIdea {
  background: $color-light;

  :global(.ant-input:placeholder-shown) {
    font-size: 20px;
  }

  :global(.ant-input) {
    padding-left: 0px;
  }
}

.name {
  padding-left: 8px;
  padding-top: 4px;
  color: $color-dark-blue-lighter;
}

.inputField {
  margin-bottom: 38px;
}

.avatarSection {
  cursor: pointer;
}

.placeHolderText {
  font-size: 20px;
  color: $color-dark-light;
  font-weight: bold;
  cursor: pointer;
}
