@import '../../styles/styles.module.scss';

.button {
  &:global(.ant-btn) {
    border-radius: 8px;
    font-weight: bold;
    color: $color-dark-blue-lighter;
    border: 1px solid $color-dark-blue-lighter;

    &:active,
    &:focus,
    &:hover {
      color: $color-dark-blue-lighter;
      border: 1px solid $color-dark-blue-lighter;
    }
  }

  &:global(.ant-btn-primary) {
    background: $color-dark-blue-lighter;
    border: none;
    color: $color-light;

    &:active,
    &:focus,
    &:hover {
      color: $color-light;
      border: none;
    }
  }

  &:global(.ant-btn-danger) {
    background: $color-danger;
    border: none;
    color: $color-light;

    &:active,
    &:focus,
    &:hover {
      color: $color-light;
      border: none;
    }
  }
}
