@import '../styles/styles.module.scss';

.ideas {
  margin-top: 20px;
}

.postIdea {
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: $color-light;
  padding-left: 16px;
}

.ideaCard {
  padding-bottom: 16px;
}
