@import '../styles/styles.module.scss';

.Search {
  :global(.ant-input) {
    border: none;
  }

  &:global(.ant-input) {
    border: none;
  }

  :global(.ant-input:focus) {
    box-shadow: none;
  }

  &:hover {
    .searchIcon {
      color: $color-dark-blue;
    }
  }
}
