@import "../../styles/styles.module.scss";

.header {
  :global(.ant-page-header-heading-title) {
    color: $color-dark-blue-lighter;
    font-size: 32px;

    @include respond-to("md-large") {
      font-size: 16px;
    }
  }
}