@import '../../styles/styles.module.scss';

.idea {
  background: $color-light;
  padding: 32px 8px 8px 8px;
}

.contentItems {
  padding-right: 8px;

  .authorName {
    color: $color-dark-blue-lighter;
    cursor: pointer;
    font-size: 14px;
    padding-bottom: 8px;
  }
}

.content {
  padding-left: 12px;

  @include respond-to('xs-m') {
    padding-left: 8px;
  }
}

.footerItems {
  width: 100%;
  padding: 8px;
}

.ideaImageContainer {
  padding-bottom: 8px;

  .ideaImage {
    width: 100%;
    z-index: 0;
  }
}

.ideaText {
  padding-bottom: 8px;
}

a {
  color: $color-dark-blue-lighter;

  &:hover {
    color: $color-dark-blue-lighter;
  }
}
